{{>licenseInfo}}
import { HttpHeaders }                                       from '@angular/common/http';

import { Observable }                                        from 'rxjs';

{{#imports}}
import { {{classname}} } from '../model/models';
{{/imports}}


import { {{configurationClassName}} }                                 from '../configuration';

{{#operations}}

{{#operation}}
{{#allParams.0}}
export interface {{#prefixParameterInterfaces}}{{classname}}{{/prefixParameterInterfaces}}{{operationIdCamelCase}}RequestParams {
{{#queryParams.0}}
  /**
   * Query parameters
   */
  queryParams: {
    {{#queryParams}}
    {{paramName}}{{^required}}?{{/required}}: {{{dataType}}}{{#isNullable}} | null{{/isNullable}};
    {{/queryParams}}
  };
{{/queryParams.0}}
{{#pathParams.0}}
  /**
   * Path parameters
   */
  pathParams: {
    {{#pathParams}}
    {{paramName}}{{^required}}?{{/required}}: {{{dataType}}}{{#isNullable}} | null{{/isNullable}};
    {{/pathParams}}
  };
{{/pathParams.0}}
{{#headerParams.0}}
  /**
   * Header parameters
   */
  headerParams: {
    {{#headerParams}}
    {{paramName}}{{^required}}?{{/required}}: {{{dataType}}}{{#isNullable}} | null{{/isNullable}};
    {{/headerParams}}
  };
{{/headerParams.0}}
{{#bodyParam}}
  /**
   * {{description}}
   */
  body{{^required}}?{{/required}}: {{{dataType}}}{{#isNullable}} | null{{/isNullable}};
{{/bodyParam}}
{{#formParams.0}}
  /**
   * Form parameters
   */
  formParams: {
    {{#formParams}}
    {{paramName}}{{^required}}?{{/required}}: {{{dataType}}}{{#isNullable}} | null{{/isNullable}};
    {{/formParams}}
  };
{{/formParams.0}}
}
{{/allParams.0}}
{{/operation}}

{{#description}}
    /**
    * {{&description}}
    */
{{/description}}
export interface {{classname}}Interface {
    defaultHeaders: HttpHeaders;
    configuration: {{configurationClassName}};

{{#operation}}
    /**
     * {{summary}}
     * {{notes}}
     {{#allParams.0}}* @param requestParameters
     {{/allParams.0}}* @param extraHttpRequestParams Optional additional parameters to pass to the HTTP request
     */
    {{nickname}}({{#allParams.0}}requestParameters: {{#prefixParameterInterfaces}}{{classname}}{{/prefixParameterInterfaces}}{{operationIdCamelCase}}RequestParams, {{/allParams.0}}extraHttpRequestParams?: any): Observable<{{{returnType}}}{{^returnType}}{}{{/returnType}}>;

{{/operation}}
}
{{/operations}}